# Dependencias de Node
node_modules/

# Variables de entorno y credenciales
.env

# Carpetas locales de la aplicación
/Inbox/
/CDU/
/Cuarentena/
/Reintentos/
/Recycling/
/Fichero/
/logs/
/Source Repo/
/Test Battery/
/DUMPS/

# Archivos temporales de procesamiento (Importante)
/temp/

# Carpetas de log o basura del sistema
*.log
.DS_Store
Thumbs.db

# editor/backup leftovers
*.bak

# mockups de diseño (no son assets de producción)
LoginPageMockup.jpg
